[2016-04-18 21:10] arose opened #1 "Add chemical component names to groupList entries?"
specifically `_chem_comp.name` from the [mmcif dictionary](http://mmcif.wwpdb.org/dictionaries/mmcif_mdb.dic/Items/_chem_comp.name.html)

[2016-04-18 22:37] arose opened #2 "Add ncsOperatorList field"
Add field `ncsOperatorList` with transformations to construct the full crystallographic asymmetric unit.

Example from [1a37](http://www.rcsb.org/pdb/explore/explore.do?structureId=1a37):

[code]

[2016-04-18 22:55] BobHanson commented on #2
Could you elaborate on this? How are these used? Jmol ignores these, I think.

[2016-04-18 23:06] arose commented on #2
Example [1auy](http://www.rcsb.org/pdb/explore/explore.do?structureId=1auy):

AU, that is the coordinates explicitly given in the file
![screenshot 72](https://cloud.githubusercontent.com/assets/272250/14622433/bb17a7ba-057e-11e6-80da-356a4a66685b.png)

trying to construct unitcell without NCS operations
![screenshot 74](https://cloud.githubusercontent.com/assets/272250/14622430/bafd8fb0-057e-11e6

[2016-04-18 23:11] arose commented on #2
ping @josemduarte

[2016-04-18 23:43] BobHanson commented on #2
Yes, I remember now. This is taken care of in Jmol as

load .... filter "biomolecule XAU"

On Mon, Apr 18, 2016 at 6:11 PM, Alexander Rose notifications@github.com
wrote:

##

Robert M. Hanson
Larson-Anderson Professor of Chemistry
Chair, Department of Chemistry
St. Olaf College
Northfield, MN
http://www.stolaf.edu/people/hansonr

If nature does not answer first what we want,
it is better to take

[2016-04-19 00:06] josemduarte commented on #2
An interesting example is 1d2q. It does contain `struct_ncs_oper` different from an identity matrix, but only of the "given" code, which means the operator can be ignored (see [struct_ncs docs](http://mmcif.wwpdb.org/dictionaries/mmcif_pdbx_v40.dic/Items/_struct_ncs_oper.code.html) in mmcif dictionary):

[code]

That operator seems to be a left over, which wasn't removed after the extra needed cha

[2016-04-19 00:18] BobHanson commented on #2
I would like to suggest that this XAU be added to the "bioAssemblyList"
along with the others, and that the transformList include "id" so that "1"
"2" "3" "4" "PAU" and "XAU" are all available. Or whatever is necessary to
reproduce this sort of construction:

loop_
_pdbx_struct_assembly_gen.assembly_id
_pdbx_struct_assembly_gen.oper_expression
_pdbx_struct_assembly_gen.asym_id_list
1   '(1-60)'

[2016-04-19 00:52] BobHanson commented on #2
ps -- just noting the statement above "try to depict" the unit cell. One
thing to be clear about is that the depiction given there, also reproduced
below *IS  *the crystallized form. That is, the virus capsid protein does
not crystallize in anything like its biological form. So "try" is not
really the right word there. If one is interested in how the structure as
solved in the crystal and how the

[2016-04-19 01:26] arose commented on #2
With the try in "try to depict" the unit cell I meant to say that this is not the unitcell because I did not take into account the NCS operations. The image then show a packing that was way to loose to be a crystal. As far as I understand it you construct the unitcell by first applying the NCS operations (when available) to the AU (i.e. the coordinates written in the file) and secondly apply the o

[2016-04-19 01:32] arose commented on #2
@BobHanson Good point. We currently list all transformations explicitly for each assembly, but it could indeed be useful to do it similar to how it is done in mmcif files. Especially constructs like 1m4x could be represented more concisely.

[2016-04-19 02:25] josemduarte commented on #2
Note that in cases like 1d2q or 1a37 above, there are no XAU bio-assembly given in the files. This shows how the XAU notation was an ad-hoc solution introduced for virus capsid proteins and not used elsewhere.

As such I would vote against recycling the XAU solution for mmtf. We should simply use the extra field `ncsOperatorList` and represent the data properly: as extra data needed to generate th

[2016-04-19 08:55] BobHanson commented on #2
Peter, I have a question for you: Is it possible that all the mmCIF files
have been normalized so that X0 is always the identity matrix (when it is
used in _pdbx_struct_assembly_gen.oper_expression)? I'm not finding any
counter-example of that. I'm wondering if that was something that was done
as part of the fixing of files some time ago.

Jose, I agree. PAU and XAU are specific to viral capsids.

[2016-04-19 15:47] arose commented on #2
Here is what I get when applying the NCS operations in the 1auy example:

unitcell
![screenshot 79](https://cloud.githubusercontent.com/assets/272250/14645504/c45753a2-060a-11e6-8ce9-1ba46ca57949.png)

supercell (one unitcell in each direction)
![screenshot 78](https://cloud.githubusercontent.com/assets/272250/14645503/c4575fdc-060a-11e6-88c0-abc9bda24ac7.png)

[2016-04-20 05:45] BobHanson commented on #2
http://chemapps.stolaf.edu/jmol/zip/jmol-14.5.4_2016.04.19.zip contains Jmol.jar, JmolData.jar, and JSmol JavaScript package for testing.

$  load =1auy.mmtf FILTER "biomolecule 1;_.CA,_.P"
$ write image clipboard

Inline image 1
FileManager opening url http://mmtf.rcsb.org/full/1JGQ
The Resolver thinks MMTF
MMTF version 0.1
MMTF Producer RCSB-PDB Generator---version: ea7b9e5723271b3f7e46f8a7c5e1c

[2016-04-20 05:58] BobHanson commented on #2
Also, this is up and running in JavaScript  at http://chemapps.stolaf.edu/jmol/jsmol/mmtf.htm

Tested only with FireFox/Windows 10. Could be issues because I have switch JSmol to using asynchronous data file loading since these are binary files.

[2016-04-20 06:13] BobHanson commented on #2
This is a test to see if Jmol PNGJ formatted files can be drag-dropped into the Jmol applet or a JSmol JavaScript window on an web page. The image was create using
write PNGJ "virus.png"

![virus](https://cloud.githubusercontent.com/assets/17748315/14664951/1530c31e-0695-11e6-96b6-2135f48845cb.png)

[2016-04-23 11:52] BobHanson opened #3 "DSSP needs upgrade to 2.0"
The DSSP analysis that RCSB is using (from BioJava) is using an outdated DSSP algorithm. see [Int. J. Mol. Sci. 2014, 15, 7841-7864; doi:10.3390/ijms15057841](http://www.mdpi.com/1422-0067/15/5/7841) for a discussion of DSSP 2.0.  Jmol is moving to this default, so "DSSP" in Jmol will now point to this.

Suggestion is that RCSB do the same and incorporate DSSP 2.0, not DSSP 1.0, into mmtf.

Bob

[2016-04-23 14:49] andreasprlic commented on #3
There are actually a number of problems with DSSP. If we deviate from the well known Kabsch & Sander DSSP, I believe we can actually do a number of things. There is a BioJava thread https://github.com/biojava/biojava/issues/454 that discusses improvements to the secondary structure implementation.

[2016-04-23 17:49] arose commented on #3
From http://swift.cmbi.ru.nl/gv/dssp/index.html

So, DSSP 2.0 is a very small incremental change as as I can see. What is the rationale to change the order of assignment, that is "π-helices before α-helices"?

The MMTF specification allows any per-residue secondary structure data, not just DSSP. There will be a page that exactly describes what the MMTF files we provide contain.

[2016-04-23 18:03] BobHanson commented on #3
I have switched Jmol to DSSP 2.0. The rationale is that helices with "kinks" or "bulges" were being treated as one  long helix. In many case, particularly in G-protein-coupled receptors, this results in situations where, especially with rocket rendering, a rendering of the helix does not follow the helix faithfully. DSSP 2.0 better represents that broken helix as three -- alpha-pi-alpha. The origi

[2016-04-23 18:06] arose commented on #3
I see, that makes perfect sense. Thanks!

[2016-04-24 19:59] BobHanson opened #4 "_struct_conn group missing"
Just notice that although we have all the bonding between amino acids and all the bonding within groups, we are missing the very important ones in _struct_conn, particularly in 1BLU

I believe this may be because the  "metalc" type is being skipped. This is an important type to include.

metalc1 metalc ? B SF4 . FE1 ? ? ? 1_555 A CYS 53 SG ? ? A SF4 101 A CYS 53 1_555 ? ? ? ? ? ? ? 2.189 ?

same f

[2016-04-25 12:16] BobHanson opened #5 "retinal missing double-bond connection to lysine in GPCR 1F88"
While it is excellent to be able to show double bonds now within groups, there are a few cases, such as Schiff bases between an aldehyde and lysine, where a double bond is needed linking two groups. If all the other double bonds are present, but this one is missing, users will rightly consider it a bug.  See 1F88.mmtf

![1f88_ret](https://cloud.githubusercontent.com/assets/17748315/14783489/989ebd

[2016-04-25 15:28] BobHanson commented on #2
ps... I have to tell you, I cannot tell at all what I am looking at with
that 1auy supercell image. I'm pretty sure these are *not capsids. *They
are sparse collections of faces. Or some sort of fractional capsids.
Capsids look like the following. (Just showing this as a course-grained
one-particle-per-chain view. Anyway, I think it looks nothing like that.
Did Jmol make that image?

[image: Inlin

[2016-04-25 15:38] arose commented on #2
Which image are you refering to? The one below "trying to construct unitcell without NCS operations" or the one below "supercell (one unitcell in each direction)"? The former was wrong because it did not take the NCS operations into account. The images were made with [NGL](http://arose.github.io/ngl/?load=rcsb://1auy.mmtf).

[2016-04-25 15:41] arose commented on #5
Thanks for pointing this out!

[2016-04-25 16:06] arose commented on #4
We currently rely on mmcif files and the chemical component dictionary to get bond information. We felt that the metal bond given in the archive are currently not good enough, so we did not include them.

[2016-04-25 16:08] arose commented on #5
We currently rely on mmcif files and the chemical component dictionary to get bond information. The Schiff base double bond is not really given in the mmcif file, that is the [_struct_conn.pdbx_value_order](http://mmcif.wwpdb.org/dictionaries/mmcif_pdbx.dic/Items/_struct_conn.pdbx_value_order.html) is mostly empty. However, the Schiff base bond seems to be given twice, in both directions, so one c

[2016-04-25 17:27] BobHanson commented on #4
do please include them. Let the user decide if they want them or not.

On Mon, Apr 25, 2016 at 11:06 AM, Alexander Rose notifications@github.com
wrote:

##

Robert M. Hanson
Larson-Anderson Professor of Chemistry
Chair, Department of Chemistry
St. Olaf College
Northfield, MN
http://www.stolaf.edu/people/hansonr

If nature does not answer first what we want,
it is better to take what answer we get.

[2016-04-25 17:28] BobHanson commented on #5
That would be great if it turns out to be that easy.

[2016-04-25 17:59] BobHanson commented on #2
Sorry - I new the delay would cause confusion. The supercell one. I'm
pretty sure I'm looking at the interior of capsids, right?

On Mon, Apr 25, 2016 at 10:38 AM, Alexander Rose notifications@github.com
wrote:

##

Robert M. Hanson
Larson-Anderson Professor of Chemistry
Chair, Department of Chemistry
St. Olaf College
Northfield, MN
http://www.stolaf.edu/people/hansonr

If nature does not answer f

[2016-04-25 18:28] arose commented on #2
Yes, you're looking at the interior of capsids. This seems to be how the unitcell is defined (or how I apply the necessary transformations as I don't try to make the complexes as whole as possible).

Here is another perspective, showing that there are full capsid further inside:

![screenshot 96](https://cloud.githubusercontent.com/assets/272250/14794419/d1c376ce-0ad8-11e6-9044-8d0a4825d325.png)

[2016-04-25 19:09] BobHanson commented on #2
I must tell you that I can't make much of that.  Here is what Jmol produces
for the  {1 1 1} cell for 1auy. Now, _these_ are capsids. They are created
by the command:

load =1auy.mmtf {1 1 1} filter "biomolecule 1;*.ca"

Which applies the full 60 non-crystallographic symmetries to get the
capsid, then, after that, applies the space group operations of group 181
to place and orient those capsids in

[2016-04-25 19:27] arose commented on #2
What do you mean by "60 non-crystallographic symmetries"? I mean the data that is in the [struct_ncs_oper](http://mmcif.wwpdb.org/dictionaries/mmcif_mdb.dic/Categories/struct_ncs_oper.html) mmcif field. Note that this field is currently not included in the mmtf format, so I am loading cif in the examples with NGL. I apply `struct_ncs_oper` operations and then those from group `P 64 2 2` (which I g

[2016-04-25 23:45] BobHanson commented on #2
I agree that we need the struct_ncs_oper block and that is one way to do
this. Please do add those.

I'm probably getting away with this because in these viral cases the
biological unit is also in the crystal. (That's not always the case,
right?) My picture is "prettier" because it organizes the visualization
along the lines of the biologically relevant unit. So I suspect both of our
representatio

[2016-04-26 00:02] BobHanson commented on #2
here's an image from Jmol in the orientation of the first "trying to
construct unitcell without NCS operations" image in this thread. From it
you can see (sort of) how those sparse units fill in to give full capsids.
It's not a great perspective.

[image: Inline image 1]
Here's one that shows how four basic crystallographic units fit in with the
units on a single capsid:
[image: Inline image 2]

S

[2016-04-26 00:09] arose commented on #2
We will!

Yeah, it is. I should do that to.

@josemduarte you said no, right? At least it shouldn't.

@BobHanson the images you send to the github issue thread don't show up.

[2016-04-26 15:02] BobHanson commented on #2
OK, I see. I have to come here and enter my message, not do that from a gmail replay.

![1auy_111_dual](https://cloud.githubusercontent.com/assets/17748315/14822844/d61614f8-0b95-11e6-9b10-2333debcaf85.png)

![1auy_111_dual2](https://cloud.githubusercontent.com/assets/17748315/14822853/da83e79a-0b95-11e6-9af8-7dc2ee88deac.png)

For Jmol I have added the  NCS operations for when there is no request

[2016-04-26 16:19] josemduarte commented on #2
To be clear: in the current definition the biological assembly **must be a part of the crystal**. The bio assembly annotation is simply an interpretation of what is a plausible assembly in the crystal. Usually that interpretation should come from independent experimental data confirming the oligomeric state in solution.

[2016-04-26 22:54] BobHanson commented on #2
Good to hear. Thank you.

[2016-04-27 10:15] BobHanson commented on #2
Is that enhancement pushed out to http://mmtf.rcsb.org ?

[2016-04-27 15:03] arose commented on #2
No, that will take some time, while we are gathering feedback. We will let you know!

[2016-04-28 17:50] arose opened #6 "Consider adding all operators needed to construct full unitcell"

[2016-04-29 01:40] josemduarte commented on #6
i.e. adding the space group operators table as in the symop.lib file from ccp4.

I'd vote against it, the format is about compression and this is redundant information that should come from elsewhere, e.g. a web service.

[2016-04-29 02:03] arose commented on #6
playing opposition: the format is also about usefulness

[2016-04-29 11:03] sbliven commented on #6
BioJava is able to calculate these quite easily:

`SpaceGroup.parseSpaceGroup(structuredatainterface.getSpaceGroup())`

So maybe we should follow that precedent and require downstream libraries to supply it. I would think that most mmtf clients, e.g. molecular viewers, would already have to supply this info if they want to generate unit cells from PDB or mmCIF files.

[2016-05-17 21:06] pwrose commented on #1
I think these names are important since 3D viewer applications, etc. need to be able to display those names, esp. for ligands.

[2016-05-26 04:46] abradle commented on #1
After discussion the consensus was:
1) Naming data can be found from the entity information
2) Addition of this data would be a bit to feature creepy

So let's not add it in and I'm gonna close this for the time being.

[2016-05-26 05:01] arose commented on #1
I think we should add it as we have a names for entities, chains, atoms. Come to think of it, model names would be good too (and might be part of an upcoming cif extension in some form I guess). I don't see adding the group name as feature creep as it is consistent with the data we provide on other levels.

I agree that for standard amino acids the three letter code is probably okay but what about

[2016-05-31 16:39] arose commented on #6
I agree with leaving them out.

[2016-05-31 16:39] #6 closed, assigned to nobody

[2016-06-02 22:30] pwrose opened #10 "List vs Array"
Should the word **list** be replaced by **array**, since the decoding generates arrays, not lists?

[2016-06-02 23:14] arose commented on #10
My intention with using `list` instead or `array` was to have a more colloquial term that isn't as much associated with a specific 'type' in a programming language as the specific 'type' depends on the programming language and the the decoding library.

[2016-06-06 19:11] pwrose commented on #10
See:
https://www.quora.com/What-is-the-difference-between-an-array-a-list-and-a-linked-list

On Thu, Jun 2, 2016 at 4:14 PM, Alexander Rose notifications@github.com
wrote:

##

Peter Rose, Ph.D.
Site Head, RCSB Protein Data Bank West (http://www.rcsb.org)
San Diego Supercomputer Center (http://bioinformatics.sdsc.edu)
University of California, San Diego
+1-858-822-5497

[2016-07-14 16:55] josemduarte commented on #2
This has been done in 0.2 already, hasn't it? Shall we close?

[2016-07-14 18:51] josemduarte opened #14 "Anisotropic b-factors, do we want them in mmtf?"
They are missing in v0.2. They would be important for refinement software like phenix. A possibility is that they are treated as user data, but in my opinion they are important enough to deserve their own field.

The field would add a significant amount of information to the file (a 3x3 matrix of floats for each atom), we'd need to decide what's a good compression strategy for it.

[2016-08-09 18:45] arose commented on #2
documented in spec https://github.com/rcsb/mmtf/blob/master/spec.md#ncsoperatorlist

[2016-08-09 18:45] #2 closed, assigned to nobody

[2016-08-09 19:18] arose commented on #10
changed the wording in the spec use of "array" when describing fields of type Array, see 9395361b1495271eac5a0e74ddc5af00655bc8be

[2016-08-09 19:18] #10 closed, assigned to nobody

[2016-08-09 21:30] BobHanson opened #15 "Bonds missing in NMR models after first"
In 1cdr.mmtf we see for inter-group bonds from the main bondAtomList:

inter-group (1.1179/1.1166) bond ASN77.N - GLU76.C 1
inter-group (1.1194/1.250) bond NAG78.C1 - ASN18.ND2 1
inter-group (1.1220/1.1204) bond NAG79.C1 - NAG78.O4 1
inter-group (1.1248/1.1206) bond FUC80.C1 - NAG78.O6 1

where 1.1248 indicates this is for the first model. This is correct. Going to the second model, we see only:

[2016-08-09 21:48] arose commented on #15
@BobHanson can you try uploading the image again, thank you.

[2016-08-09 22:19] arose commented on #15
Good find, that originates from biojava. We need to fix that, thanks!

Model 0
![screenshot 9](https://cloud.githubusercontent.com/assets/272250/17535610/7e9ce4e8-5e44-11e6-835e-d362bd44f7e8.png)

Model 1
![screenshot 8](https://cloud.githubusercontent.com/assets/272250/17535611/7ea02a0e-5e44-11e6-9cb6-638c31605f80.png)

[2016-08-09 22:44] arose commented on #5
I looked at it again and the bond is only given twice because there are two retinal and rhodopsin molecules in that file.

There is a mmcif [field](http://mmcif.wwpdb.org/dictionaries/mmcif_pdbx.dic/Items/_struct_conn.pdbx_value_order.html) for the bond order but that seems rarely set. We can suggest setting GPCR-Retinal bonds for a remediation round, but that is a thing all the wwpdb partners nee

[2016-08-09 22:47] arose commented on #4
The Chimera team also expressed interest to have those bonds.

[2016-08-09 22:47] arose commented on #4
The question boils down to whether we absolutely stick to clean and consistent data for whole-archive analyses or allow some data (like "metal bonds") that is only good for a number of structures and then filter it out at the API level.

[2016-08-10 16:02] BobHanson commented on #1
OK, chiming in -- Sounds like there is good support for having those names. I appreciate that,  as Jmol does a lot with those -- displays them upon file load and adds them to the popup menu, for example. The most important for me are the nonstandard aa.

Yes, some are in the entityList, but that is only for ones that are individual. Other entities, for example small polysaccharides, are only liste

[2016-08-15 22:20] arose commented on #1
reopening for further discussion as it has come up multiple times

[2016-08-15 22:22] arose opened #16 "Add info about atoms missing from a group"
- would be added to groupList data
- in case of wwPDB data "missing atoms" would be in comparison to the corresponding CCD entry

[2016-08-15 22:31] arose commented on #5
Has been reported, if and when it is remediated the data will automatically be used.

[2016-08-15 22:31] #5 closed, assigned to nobody

[2016-10-12 20:37] #15 closed, assigned to nobody

[2017-01-26 00:56] pwrose opened #17 "Update text that describes traversal pseudo code"
The following text seems to be obsolete:

The following traversal pseudo code assumes that all fields have been decoded and specifically that the split-list delta encoded fields are decoded into fields named like in the following example: xCoordBig/xCoordSmall decode into xCoordList.

[2017-01-26 02:11] arose commented on #17
Shortened to "The following traversal pseudo code assumes that all fields have been decoded.", see 934bce26a9e25284671af6b64c933c65c4d0b4c6.

[2017-01-26 02:11] #17 closed, assigned to arose

[2017-02-07 20:32] pwrose opened #18 "Dictionary encoding example ASP is incomplete"
There is an O atom missing in the ASP dictionary example. Also, why are the formal charges all zero?

[2017-02-08 19:09] arose commented on #18
Added the oxygen, see e863b70644e4e37f2196a89235c68aea8f1f7f80, however note that this is purely cosmetical, the data in there was from a real-life example where an oxygen was simply missing.

The formal charges are zero because they are zero in the [Chemical Component Dictionary](http://www.wwpdb.org/data/ccd) where our biojava-based mmtf generator gets its data from.

[2017-02-08 19:09] #18 closed, assigned to arose

[2017-02-15 19:17] speleo3 opened #19 "N-H1 and N-H3 bonds missing"
N-H1 and N-H3 bonds are missing in current MMTF files.

Example (/1NMR/A/A/GLY`1):
![n-term-missing-bonds](https://cloud.githubusercontent.com/assets/1239490/22991031/0845007a-f389-11e6-8847-5cc9d1b55496.png)

[2017-02-15 21:26] josemduarte commented on #19
This is a known problem, that we tracked some time ago in our internal issue tracking. I think it'd be best to describe it here again:

The full description of all compounds including protonations exists in a separate Protonation Variants Companion Dictionary which explains the issues we've seen with many hydrogen atoms missing in the normal CCD files (see http://www.wwpdb.org/data/ccd)

That mean

[2017-02-15 22:51] speleo3 opened #20 "1R9V peptide bonds missing for DNM residue"
1R9V residue 9 (DNM) is not connected.

![1r9v-dnm-missing-peptide-bonds](https://cloud.githubusercontent.com/assets/1239490/22998797/74679728-f3a6-11e6-8518-59b61ae13723.png)

[2017-02-15 23:16] josemduarte commented on #20
Here the chemical component dictionary is quite clear (see https://files.rcsb.org/ligands/view/DNM.cif):

[code]
i.e. DNM is not peptide-linked following its definition (for peptide-linked groups the type is `L-PEPTIDE LINKING`).

If you think the group should be linked, then this is an error in the annotation or deposition. To me it does look like an error since DNM is assigned to chain identifie

[2017-02-28 13:04] xbdsch commented on #20
DNM updated to
_chem_comp.type                                  "D-PEPTIDE LINKING"
_chem_comp.pdbx_type                             ATOMP
The update will show in public on 3/8/2017

[2017-02-28 16:04] josemduarte commented on #20
Thanks @xbdsch !

[2017-02-28 16:04] #20 closed, assigned to nobody

[2017-02-28 16:10] speleo3 commented on #20
Great, thank you!

[2017-02-28 21:47] speleo3 commented on #20
@xbdsch where is the proper place to report such primary data issues?

[2017-03-01 01:01] xbdsch commented on #20
If it's regarding rcsb website feature, please email info@rcsb.org
If it's regarding question on file content or annotation, please email deposit-help@mail.wwpdb.org

[2017-03-07 16:53] gtauriello opened #24 "Inconsistency on whether sequenceIndexList is a required field"
The description of the field ["sequenceIndexList"](https://github.com/rcsb/mmtf/blob/master/spec.md#sequenceindexlist) describes the field as "Required field" while the [Fields table](https://github.com/rcsb/mmtf/blob/master/spec.md#fields) describes it as optional.
I assume it's the latter but can someone confirm this and fix the specs?

[2017-03-07 20:02] arose commented on #24
Is optional. Fixed, see cde2ddb266a5cb765b4b2ed6f7bfc042ea2f594a

[2017-03-07 20:02] #24 closed, assigned to nobody

[2017-03-09 01:08] speleo3 opened #26 "add a test file without any optional fields"
For testing robustness of parsers, it would be useful to have a file without the optional fields (but positive number of atoms, unlike [empty-numModels1.mmtf](https://github.com/rcsb/mmtf/blob/master/test-suite/mmtf/empty-numModels1.mmtf) which has zero atoms).

I'm currently using http://pymol.org/tmp/3NJW-onlyrequired.mmtf where I simply stripped out the optional fields and adjusted the `numBond

[2017-05-04 15:14] michel4j commented on #3
@arose

I wrote a paper about this a long time ago.

https://academic.oup.com/peds/article/15/5/353/1508254/Occurrence-conformational-features-and-amino-acid

DSSP uses hydrogen bonds to assign helices (1-->4 for α), (1-->5 π). The problem is that often both hydrogen bonds are present bifurcated and the order of assignment will impact the assignment severely. The change I suggested back then was t

[2017-06-01 11:17] tomnewport opened #27 "Make biological assemblies available"
Can author/automatically assigned biological assemblies be made available? I am trying to access files like this one: https://files.rcsb.org/download/1U77.pdb1.gz via MMTF.

[2017-06-01 12:03] esguerra commented on #27
You mean?

curl http://mmtf.rcsb.org/v1.0/full/1U77.mmtf.gz -o 1U77.mmtf.gz

[2017-06-01 12:15] speleo3 commented on #27
Tom, it's stored in [bioAssemblyList](https://github.com/rcsb/mmtf/blob/HEAD/spec.md#bioassemblylist)

[2017-06-01 12:58] tomnewport commented on #27
Great! Many thanks :100:

[2017-06-01 12:58] #27 closed, assigned to nobody

[2017-06-07 14:33] tomnewport opened #28 "Equivalent to PDB HETATM records"
I have some proteins with amino acid ligands. In PDB files these appear in HETATM records (rather than ATOM records), however, I can't find a way to separate them out using the Python MMTF implementation (example structure: http://www.rcsb.org/pdb/explore/explore.do?structureId=4RO2)

[2017-06-07 17:08] arose commented on #28
You can look at `groupType.chemCompType.toUpperCase()`. In NGL I flag atoms/groups as hetero when it is one of `"NON-POLYMER", "OTHER", "D-SACCHARIDE", "D-SACCHARIDE 1,4 AND 1,4 LINKING", "D-SACCHARIDE 1,4 AND 1,6 LINKING", "L-SACCHARIDE", "L-SACCHARIDE 1,4 AND 1,4 LINKING", "L-SACCHARIDE 1,4 AND 1,6 LINKING", "SACCHARIDE"`.

[2017-06-08 11:04] tomnewport commented on #28
Looking at residue B/201 of 4ro2 in PDB format:

[code]

This appears as `PEPTIDE LINKING` in the MMTF file - I checked NGL and it also gets confused and fails to mark that residue as hetero. In this particular case, the residues are marked as different:

**A normal protein polymer GLY looks like this**

[code]

**Whilst a hetero GLY looks like this**

[code]

So, does the MMTF format provide a wa

[2017-06-08 15:25] josemduarte commented on #28
You can use the `chainIdList` (asym_ids in mmCIF files) to know that the GLY in 4ro2 is assigned to a different chain (asym_id) and in turn to a different entity (entity id 3, non-polymeric). That way you can infer that it is an independent molecule and not part of the polypeptide chain B.

In any case in my opinion I think this is misrepresented in the mmCIF file. If the GLY is not peptide-linked

[2017-06-08 16:58] arose commented on #28
yes, that is how I handle it in NGL, you can see all those lonely `GLY` with the selection `not polymer`. I should change my default selection for ball+stick representation to `( hetero or not polymer ) and not ( water or ion )`. Thanks for raising this!

I think it is ok, the type is `PEPTIDE LINKING` not `peptide linked` :)

[2017-06-09 10:38] tomnewport commented on #28
That seems legit - I just wonder if there might be a situation where (for the sake of argument) a tripeptide was modelled in as a ligand.

(I also declare my original question sufficiently addressed if you'd like to close the issue, but it might be interesting to continue discussing)

[2017-06-09 16:52] pwrose commented on #28
Each chemical entity (protein, ligand, etc.) has an entity type: polymer,
non-polymer, and water. By checking the entity type, you can determine if
it is part of a polymer or non-polymer.

On Fri, Jun 9, 2017 at 3:38 AM, Tom Newport <notifications@github.com>
wrote:

[2017-06-10 15:47] tomnewport commented on #28
@pwrose good point - I'd forgotten about that record in the file. Will switch to that in due course. Many thanks

[2017-06-10 15:47] tomnewport commented on #28
(I think that probably clears up all the problems I wanted to address - feel free to reopen if needed)

[2017-06-10 15:47] #28 closed, assigned to nobody

[2017-06-19 13:54] wojdyr opened #29 "multiple resolution/rFree/rWork values"
Hi, I'm working on a [project][1] in the same domain - reading and writing macromolecular structures, and I was just checking how you handle models with multiple refinement statistics.
For example 5moo - joint x-ray and neutron refinement.
I suppose MMTF just stores one of the values?

[1]: https://github.com/project-gemmi/gemmi/

[2017-06-19 22:19] pwrose commented on #29
Yes, there will be only a single value for resolution, rfree, and rwork.
These are the same values as reported on the RCSB PDB structure summary
page:
http://www.rcsb.org/pdb/explore/explore.do?structureId=5MMO

To create the MMTF files we use BioJava's mmCIF reader
(
https://github.com/biojava/biojava/blob/master/biojava-structure/src/main/java/org/biojava/nbio/structure/io/mmcif/SimpleMMcifConsu

[2017-06-19 22:36] wojdyr commented on #29
5MOO

The structure summary is missing resolution:
http://www.rcsb.org/pdb/explore/explore.do?structureId=5MOO

[2017-06-19 22:45] josemduarte commented on #29
Biojava (SimpleMMcifConsumer class linked by @pwrose above) will use the last value encountered and that's the one written to mmtf. This is the relevant output of last mmtf files creation log:
[code]

[2017-06-19 22:51] wojdyr commented on #29
OK, thanks!

[2017-06-19 22:51] #29 closed, assigned to nobody

[2017-08-21 12:55] speleo3 opened #30 "assembly subunit ordering"
The ordering of assembly subunits seems to be different in MMTF and mmCIF files. This was reported on the pymol-users mailing list (https://sourceforge.net/p/pymol/mailman/message/36005513/).

I'm not aware that assembly ordering would be part of any spec, so technically there is nothing wrong here. But for consistency, it would be nice to provide identical assembly descriptions. In PyMOL, assembl

[2017-08-23 21:45] josemduarte commented on #30
Good catch, thanks for reporting it! Indeed the spec doesn't (and shouldn't) constrain that. But I agree it would be nice to have consistency in the files provided by RCSB. We'll see if that can be fixed at some point.

[2018-03-16 17:10] speleo3 opened #31 "inconsistent reduced representation of 5ijo"
The reduced model for 5ijo has numBonds=0, but len(bondOrderList)=2 and len(bondAtomList)=4.

[code]

Expected: len(bondOrderList)=0 and len(bondAtomList)=0
or numBonds=2 (though there should really be no bonds in a CA-only model)

[2018-03-22 03:58] danpf opened #32 "Remark/comments field"
When working on modeling/prediction/design problems I know a lot of people add comments/remarks of various things to their PDB files.
In the case of structures from the PDB, I think it would be best if this field is empty always.

Possible use cases:
* protein design scores/parameters
* application runtime flags/commands
* model quality numbers
* rmsd to native for bench marking

It would be very

[2018-03-22 16:59] gtauriello commented on #32
For many use cases I agree with the possibility of a generic string field. Sounds light-weight and generic enough.

For quantities attached to residues and atoms on the other hand (e.g. model quality numbers), it might be nicer to have a standardized way to attach a list of numbers into the mmtf file so that any viewer could color the structure according to one of those quantities...

[2018-03-22 17:53] danpf commented on #32
That would be nice too...

I guess 3 quick ideas:
1. Pack as `raw-string-json`. let application handle json parsing
2. Pack as `dictionary` of `strings`. let application handle going from `string` to `int`/`double`
3. Pack via `msgpack`, let user handle `msgpack obj` decoding.

option 3 gets a little complicated with statically typed languages, but is probably the better option

Some keys could be

[2018-03-22 18:14] speleo3 commented on #32
+1 for option 3
+1 for standardized keys like `atomColorList` - also `chargeList` (or `partialChargeList`) and `radiusList` to replace formats like PQR

A convention for non-standard keys would also be useful, this could prevent name clashes with future standard keys. E.g. if standard keys never use underscores, then an `<appname>_` or `<organization>_` prefix for custom keys could never lead to a

[2018-03-22 18:22] speleo3 commented on #32
speaking of custom keys: PyMOL 2.1 exports MMTF files with two custom keys: `pymolRepsList` (encoded with [strategy type 7](https://github.com/rcsb/mmtf/blob/master/spec.md#user-content-run-length-encoded-32-bit-signed-integer-array)) and `pymolColorList` (plain msgpack array).

[2018-03-22 18:32] danpf commented on #32
Perfect, now I know someone else would use this :p

I guess the only thing to watch out is that we might have `pymolColorList` and `chimeraColorList` and `nglColorList`... But i think `pymol::ColorList` or `pymol::color_list` would be best if we were to standardize it, pymol people love their underscores. I'd feel bad taking them away from them hah

[2018-05-15 20:45] pwrose commented on #31
There are two covalent CA-CA bonds specified in the 5ijo.cif file. I'll file an issue with PDB to check these bond definitions.

covale1   covale none ? C PRO 173  CA ? ? ? 1_555 D ILE 1688 CA ? ? C PRO 173  D ILE 1688 1_555 ? ? ? ? ? ? ? 1.628 ?
covale32  covale none ? C SER 680  CA ? ? ? 1_555 K ASP 853  CA ? ? C SER 680  K ASP 853  1_555 ? ? ? ? ? ? ? 1.591 ?

[2018-05-15 22:01] pwrose commented on #30
Refiled this issue: https://github.com/biojava/biojava/issues/770

[2018-05-24 00:24] josemduarte commented on #30
This should be fixed now. We've regenerated all files after the fix for https://github.com/biojava/biojava/issues/770 by @pwrose

[2018-06-02 13:23] speleo3 commented on #30
Confirming that [3bw1](https://www.rcsb.org/structure/3bw1) MMTF and mmCIF load with identical ordering.
My PyMOL test:
[code]

[2018-06-02 13:23] #30 closed, assigned to nobody

[2018-06-29 14:36] gtauriello opened #33 "Clarify if bondAtomList and bondOrderList are optional for groups too"
It would be great to clarify in the specs if it is acceptable for an MMTF file to have groupType objects (see https://github.com/rcsb/mmtf/blob/master/spec.md#grouplist) with missing bondAtomList and bondOrderList fields.

The reason why this needs clarification is that the bondAtomList and bondOrderList fields exist also on a global level (see https://github.com/rcsb/mmtf/blob/master/spec.md#bond

[2018-06-29 19:27] arose commented on #33
The key should be there, but the list maybe empty, e.g. for single atom groups like Cl-. Generally, bonds are expected to be part of an mmtf file.

ping @pwrose

[2018-07-02 09:04] gtauriello commented on #33
Ok. In that case the decoder/encoder in rcsb/mmtf-cpp behaves correctly as we will always write the list even if empty and always expect one to be there when reading. Note though that the global lists could be missing completely though (as in this test case in this repo: https://github.com/rcsb/mmtf/blob/master/test-suite/mmtf/empty-all0.mmtf).

For now, we will also assume that bondOrderList (as

[2018-07-04 22:07] danpf commented on #33
This is sort of a continuation from https://github.com/rcsb/mmtf-cpp/pull/10

@pwrose
attached is a script + an example of some things with the bond orders messed around with in various ways that I consider to be acceptable according to the spec.
run it with `python3 remove_bond_stuff.py 1PEF.mmtf`

I like having bond  and bond order information,  but the spec says

which implies that you can have

[2018-07-04 22:16] danpf opened #34 "Bond order and aromatics/resonance"
Was there ever a discussion about how we(applications) should be setting the bond order for aromatics or resonance bonds.   Did the idea of a 5th bond type (aromatic/resonance) ever come up?

I ask because Rosetta stores bond information as single, double, triple, or Aromatic/Resonance, which makes sense (at least to me).  I would assume all the aromatic bonds in phenylalanine would be considered

[2018-07-05 00:11] speleo3 commented on #34
Very good question, made me realize that we're doing it wrong in PyMOL. PyMOL uses order 4 for aromatic and currently writes that to MMTF, though according to the spec that would be a quadruple bond.

[2018-07-05 01:01] pwrose commented on #34
We restricted bond order to be single, ..., quadruple bonds, since aromatic
or resonant bond types are not uniquely defined (e.g., some heterocycles),
and not supported or interpreted differently by various chemoinformatics
packages. Similarly, we currently do not support any dative bond types due
to a lack of consensus on how to represent these types of bonds.

I'm not sure if there's a need to s

[2018-07-05 01:17] danpf commented on #34
just my 2c:

| mmtf_code | definition |
| ------------- | -------------|
| 0               |   aromatic |
| 1               |   single bond|
| 2               | double bond |
| 3               | triple bond |
| etc            | etc             |

This way we would never be stumped by crazy metal bonds, and most of everything else wouldn't have to change.

[2018-07-05 08:40] gtauriello commented on #33
Just to clarify the behavior of the decoder/encoder in rcsb/mmtf-cpp for the cases in the zip-package: it can deal with empty lists (i.e. the `empty_*.mmtf` files), but not with missing entries in the groups (i.e. the `del_*.mmtf` files). The latter can easily be changed btw by treating those missing fields like empty lists, but so far we tried to be somewhat strict to disallow badly formatted mmt

[2018-07-05 08:59] gtauriello commented on #34
I'm not a chemist, so I leave the reasoning to you guys, but from a practical perspective the 0 option proposed by @danpf makes most sense to me (unless "4" is generally accepted as an aromatic bond for many software packages). For the ambiguity of bond definitions, I suppose this is unavoidable even if we don't introduce a special bond order (at least as far as I understood the inherent ambiguity

[2018-07-05 09:13] speleo3 commented on #34
my 2c:

Not having an aromatic bond in the spec means that an application which has them will either

1. be forced to kekulize a molecule prior to MMTF export (e.g. PyMOL currently isn't able to do that)
2. loose information by exporting aromatic bonds as something else (e.g. single bonds)
3. export a non-standard MMTF file
4. not support MMTF export

I think options 2.-4. should really be avoided

[2018-07-05 09:23] abradle commented on #34
Can see Thomas point.

But I agree with Peter that chosing an aromaticity perception methods
causes problems.

If we use Aromaticity Perception  Method A (e.g. RDKit) specifying aromatic
bonds means that software that uses Aromaticity Perception Method B may not
be able to parse some molecules.

Perhaps safer would be to add an "Aromatic Flag List". That way we can
transparently support multiple a

[2018-07-05 16:09] arose commented on #34
+1, that is also how it is handled in the mmcif dictionary, see http://mmcif.wwpdb.org/dictionaries/mmcif_pdbx_v50.dic/Items/_chem_comp_bond.pdbx_aromatic_flag.html

[2018-07-05 16:44] gtauriello commented on #34
One thing to consider maybe. There are two concepts here:
1. What the file format can do. Using mmCIF as example: there is the aromatic flag mentioned by @arose but actually the value_order field (http://mmcif.wwpdb.org/dictionaries/mmcif_pdbx_v50.dic/Items/_chem_comp_bond.value_order.html) is a controlled dictionary which also has an "aromatic bond" option (funnily enough that's also used in the

[2018-07-05 20:24] danpf commented on #34
Maybe this is slightly off topic, but since Thomas mentioned 0 order bonds...

From my reading, most programs can read smiles strings that don't utilize the lowercase aromatic notation, so they should be able to handle kekulized representations.

So I think that having an aromatic flag would be ideal because it would ensure compatibility w/ other programs + direct 1:1 visualization from molecular

[2018-07-06 09:11] speleo3 commented on #34
How about run-length encoding (e.g. strategy 7)?

@danpf your `bondDescriptor` sounds like a combination of [_chem_comp_bond.value_order](http://mmcif.wwpdb.org/dictionaries/mmcif_pdbx_v50.dic/Items/_chem_comp_bond.value_order.html) and [_pdbx_struct_link.type](http://mmcif.wwpdb.org/dictionaries/mmcif_pdbx_v50.dic/Items/_pdbx_struct_link.type.html).

Regarding **aromatic flag list** vs. **aromati

[2018-07-06 09:22] abradle commented on #34
I’d agree with Thomas. I was thinking that could be bond order 0 . I think
that calculation is a massive over estimate, since we have dictionary
encoding for bond information. And yes I’d do run length encoding. So that
In most cases it’s two extra ints (0 and num bonds) per group. As suggested
I would directly support flavours (eg RDKit) with an unknown flavour too. 0
being not aromatic.
On Fri,

[2018-07-16 10:21] danpf commented on #32
@arose  @pwrose

This is sort of a more formal proposal for a comments field:

It seems that myself and other developers are eager to append application specific information into our mmtf files, so having this become part of the standard would be very helpful, and save a lot of re-writing once/if it does eventually become a part of the standard.

Does anyone have any objections to this sort of imp

[2018-07-17 19:37] pwrose commented on #32
Regarding the key, did you imply a convention regarding the prefix, e.g.,

structureKey (len of 1)
modelKey(len of numModels)
chainKey (len of numChains)
groupKey (len of numGroups)
atomKey (len of numAtoms)
bondKey (len of numBonds)

[2018-07-17 19:52] danpf commented on #32
I wasn't really meaning to, but we could if other people like that!  definitely makes sense to me!

[2018-07-17 20:23] pwrose commented on #32
How about an explicit convention by specifying data (or properties?) for
structure, model, chain, group, atom, and bond-level information that must
have a matching number of records.

   - structureProperties (1)
   - modelProperties (len numModels)
   - chainProperties (len numChains)
   - groupProperties (len numGroups)
   - atomProperties (len numAtoms)
   - bondProperties (len numBonds)

Data

[2018-07-18 09:55] gtauriello commented on #32
A "best practice" naming convention sounds reasonable.

@pwrose do you mean that each of those "...Properties" fields would itself contain a msgpack-map with key, value pairs? Doesn't sound too bad actually. Would make it very easy to have generic parsers of it for visualizations or so (could even work in strongly-typed languages like C++). In that case though I would propose to get rid of "extraD

[2018-07-18 16:11] speleo3 commented on #32
@pwrose and @gtauriello - if I followed you correctly, example data could look like this:
[code]

[2018-07-18 17:25] pwrose commented on #32
Yes, that's a good example of what I had in mind.

On Wed, Jul 18, 2018 at 9:11 AM, Thomas Holder <notifications@github.com>
wrote:

[2018-07-18 20:49] danpf commented on #32
I like it!
Re-> `extraProperties`
this is more for statically typed languages (like c++)
I wrote `extraData` so that it didn't have to be a `map<string, msgpack::object>`, rather that it could be anything, (a simple list, a number, a custom serialized object, etc)... Do you think that's useless? and that `extraProperties` should just always be a `map<string, msgpack::object>`?

[2018-07-19 13:41] gtauriello commented on #32
@danpf The entries contained in the map can still be generic msgpack objects. So it doesn't really simplify parsing in statically typed languages apart from being able to get the keys (which is good I guess). Either way a bit of structure might be good and it's not a big restriction to prescribe that we expect key (string) / value (any object) pairs for extra properties.

[2018-08-14 21:36] pwrose commented on #34
The idea behind MMTF was that is somewhat like Java, it will run anywhere. For MMTF that means one algorithm is capable of processing the bond information, without resorting to specialized code to handle specific implementations.

Since some tools cannot provide a kekulized form, we need a workaround for those cases.

So how about the following proposal based on the discussion above:
* define unkn

[2018-09-03 22:42] pwrose opened #37 "chainNameList, chainIdList are limited to 4 characters"
For some use cases longer chain names/Ids are required, e.g., to encode the symmetry operator when creating biological assemblies.

It would be best if the chain names/Ids can have a flexible length.

[2018-09-04 09:15] gtauriello commented on #37
One idea there: for decoders it should be fairly simple to accept `Array` and `Binary` types interchangeably (at least rcsb/mmtf-cpp doesn't have a problem with it and I consider C++ to be rather strict for types). As such one could relax the typing for lists such that they don't necessarily have to be of `Binary` type and give the encoders more flexibility. Already now, the encoding strategy for

[2018-10-22 16:26] gtauriello commented on #33
The PR #35 resolved this issue so this can be closed.

[2018-10-22 16:26] #33 closed, assigned to nobody

[2018-10-22 16:47] danpf commented on #34
Resolved by #35

[2018-10-22 16:47] #34 closed, assigned to nobody

[2018-10-22 16:47] danpf commented on #32
resolved by #36

[2018-10-22 16:47] #32 closed, assigned to nobody

[2018-11-13 06:15] danpf opened #38 "chem_comp_type upper/lowercase?"
this is silly, but for at least consistency in the spec:
should chemCompType always be uppercase?
http://mmcif.wwpdb.org/dictionaries/mmcif_pdbx_v50.dic/Items/_chem_comp.type.html
shows them as lowercase, but mentions they are case insensitive.

However, the rcsb serves them all via uppercase, and all of our examples are in uppercase.

[2018-11-13 19:48] pwrose commented on #38
I think for consistency it would be better to use uppercase. I'm not sure
why the chemCompTypes have been converted to uppercase, but most likely to
work around uppercase/lowercase inconsistencies in the original .cif files.

On Mon, Nov 12, 2018 at 10:16 PM Daniel Farrell <notifications@github.com>
wrote:

--
Peter Rose, Ph.D.
Director, Structural Bioinformatics Laboratory
Lead, Bioinformatics an

[2018-12-20 22:50] danpf commented on #37
I support having long chain names... but just for the record,
http://mmcif.wwpdb.org/docs/large-pdbx-examples/
suggests that

which is sad.

[2018-12-20 22:50] danpf commented on #38
thanks! I'll mention this in the spec somewhere!

[2018-12-21 09:17] speleo3 commented on #37
[mmtf-c](https://github.com/rcsb/mmtf-c) and [simplemmtf-python](https://github.com/schrodinger/simplemmtf-python) already supports this. Example:

[code]
The file can be loaded into PyMOL, which uses **mmtf-c**.

For the record, no length limitations mentioned here: http://mmcif.wwpdb.org/dictionaries/mmcif_mdb.dic/Items/_atom_site.auth_asym_id.html

[2019-04-16 17:16] yurivict opened #41 "[feature request] Please support the secondary structure information and other essential information supported by the pdb format"
Continuing from https://github.com/rcsb/mmtf-cpp/issues/28

I was downloading data from the PDB database in the MMTF format, but it lacks the secondary structure information.

This also makes the "PDB archive size comparison" graph on https://mmtf.rcsb.org/ invalid since the PDB format has more information in it.

[2019-04-16 18:32] pwrose commented on #41
The mmtf files do contain secondary structure information, however, it has
been recalculated using the DSSP implementation in BioJava. This was done
since the original secondary structure information has not been
consistently assigned, e.g., using different software, different, version,
even done manually for older structures. To provide consistency, we have
recalculated secondary structure assign

[2019-04-18 08:20] yurivict commented on #41
@pwrose  Thank you for the clarification.

[2019-04-18 08:20] #41 closed, assigned to nobody

[2019-05-12 12:56] vitlav opened #42 "Make a new release"
Please make a new release (1.0 from 2016 year is too old), with new version and new tarball.

[2019-05-13 06:16] speleo3 commented on #31
Apparently this has been fixed, closing the case.
[code]

[2019-05-13 06:16] #31 closed, assigned to nobody

[2019-05-13 08:08] speleo3 commented on #42
@vitlav for what purpose is 1.0 too old? This repo holds a spec and some example files.

[2019-05-13 13:19] vitlav commented on #42
latest (1.0.0) mmtf-cpp library https://github.com/rcsb/mmtf-cpp does not pass tests with 1.0 specs.

[2019-05-13 15:21] #26 closed, assigned to nobody

[2019-05-13 15:30] gtauriello commented on #42
@vitlav Could you elaborate on what tests exactly fail in mmtf-cpp v1.0.0 against 1.0 specs? I mean mmtf-cpp includes a checkout of mmtf as a submodule and is continuously tested against the data there so I am wondering what exactly you did and what errors you observed.

[2019-05-13 16:16] gtauriello commented on #42
Following up on my own comment, I just tried to run the mmtf-cpp tests against the "v1.0" checkout of this mmtf repository. In mmtf-cpp, we include a specific checkout of this repository which (compared to v1.0) includes a few minor fixes in the specification and more importantly includes a few extra files in the test suite. Since (for simplicity) we hard-coded the paths to files we expect to find

[2019-05-13 17:26] vitlav commented on #42
I built a rpm package with mmtf-cpp and standalone package with mmtf-spec needed in build time. Therefore I need reference to a version of release, not just submodule tag.

[2019-05-13 18:10] gtauriello commented on #42
@vitlav I see. The installation of mmtf-cpp does not depend on this repository (matter of fact installing mmtf-cpp boils down to copying a couple of header-files), so you don't actually need it to build an mmtf-cpp package. The only dependency of mmtf-cpp is msgpack-c. The mmtf-cpp repo uses Catch2 and this repository purely for automated testing, but neither is needed to install/use mmtf-cpp.

So

[2019-05-14 09:54] vitlav commented on #42
Thank you for the detailed explain.

[2019-09-03 00:08] josemduarte opened #43 "Chemical component identifier lost for unobserved non-standard residues"
Since mmtf stores the SEQRES groups as 1-letter code strings, the chemical component id for any residue that is non-standard and happens to be unobserved will be lost. E.g. for 2X3T chain E (a glycopeptide) contains several unobserved non-standard aminoacids that are represented like "KXXXXXXEX". For groups that are observed, the chemical component identifier is recoverable from the ATOM informati

[2019-09-03 17:13] josemduarte commented on #43
A possible solution proposed by @pwrose is to store the full chemical component ID with the group data for unobserved residues here:
https://github.com/rcsb/mmtf/blob/master/spec.md#group-data

However, that requires either a new flag `observed y/n` or making the `formalChargeList`, `elementList` and `atomNameList` optional fields (now they are required).

[2019-09-16 13:51] gtauriello commented on #43
Given that the group data in MMTF only lists the observed atoms, I would say that an unobserved residue could be represented with a group which has 0-length arrays `formalChargeList`, `atomNameList` and `elementList`. I don't see a problem with those arrays being empty. At least the C++ decoder/encoder shouldn't have any issues with it.

Given that the fields are required, the arrays should always

[2019-11-08 06:57] speleo3 opened #44 "5MOO has bonds between alt confs"
The MMTF file for 5MOO has bonds between alternate conformations of residue MET104 (for hydrogens which are only in one conformation). I don't see those bonds in the mmCIF file, so it looks like this is not a "primary-data-issue".

![5moo-m104-extra-bonds](https://user-images.githubusercontent.com/1239490/68455675-3ae9ab00-01fc-11ea-99d6-b083614f7023.png)

[2019-11-08 19:32] arose commented on #44
ping @josemduarte, is this an issue in biojava as well?

[2019-11-12 05:50] josemduarte commented on #44
Good catch, thanks @speleo3 ! I could track this back to an issue in BioJava. I will implement a fix that does not add bonds when alt locs are not the default '.' and are different (e.g. if atom 1 is 'A' and atom 2 is 'B').

There's in any case a certain ambiguity in alt loc definition. For instance what should happen when:
* Case 1. Atom 1 alt locs : '.', 'A' and 'B', atom 2 alt locs: 'A' and 'B'

[2019-11-12 07:53] speleo3 commented on #44
@josemduarte Does case 1 exist? Do you have an example?

Case 2 should always link both (., A) and (., B) for what I've seen so far. Do you have an example where that's wrong?

[2019-11-12 08:03] speleo3 commented on #44
5MOO MET104/N is an example for case 2 where MMTF is missing the bond from ILE103/C to MET104/N-B:

![5moo-104-n](https://user-images.githubusercontent.com/1239490/68653108-40f8c800-052b-11ea-97bb-29f6b8fa6ea4.png)

[2019-11-13 06:33] josemduarte commented on #44
Thanks @speleo3 . I don't have an example of case 1, perhaps it doesn't exist, was simply trying to look at all possible edge cases.

I've submitted a fix for BioJava. For both case 1 and 2 it will always link '.' to A and B.

In any case it will still be some time before the mmtf files are updated.

[2020-07-06 16:28] josemduarte commented on #44
The issue was fixed in BioJava 5.4.0. The mmtf update pipeline was also updated accordingly. All new mmtf files should have this fix. The old ones will have to be regenerated at some point.

[2020-07-06 16:28] #44 closed, assigned to nobody

[2020-07-12 10:49] cxn-pkovacs opened #45 "Incomplete definition of the groupTypeList field"
The definition of [groupTypeList](https://github.com/rcsb/mmtf/blob/v1.0/spec.md#grouptypelist) uses the term `groupTypeId`. It is unclear where the term `groupTypeId` itself is defined.

[2020-07-12 21:07] pwrose commented on #45
Good catch. There is a typo in v1.0 spec.

The world groupTypeId should be changed to groupTypeList. This has been
fixed in the master branch, see
https://github.com/rcsb/mmtf/blob/master/spec.md

The description should read:
*Description*: Array of pointers to groupType entries in groupList by their
keys. One entry for each residue, thus the number of residues is equal to
the length of the groupT

[2020-07-12 21:08] pwrose commented on #45
Typo has been corrected in master branch.

[2020-07-12 21:08] #45 closed, assigned to nobody

[2021-02-26 00:56] jcminerlanl opened #46 "Generating a super cell from the mmtf."
Hello,

I am used to working with PDB structures, but I wanted to know if it was possible to generate a supercell (tessellated unit cells) from the mmtf file once it has been fetched?

[2021-02-26 19:30] josemduarte commented on #46
The mmtf file has all the relevant crystallographic information needed to do that. If what you want is to visualize a supercell, then you might want to look at some examples with the NGL viewer.

I'd also recommend that you check out [BinaryCIF](https://github.com/molstar/BinaryCIF) and [Mol*](https://github.com/molstar/molstar/). BinaryCIF is the successor to MMTF.

[2021-02-26 19:30] #46 closed, assigned to nobody

[2021-03-31 20:09] padix-key opened #47 "Outdated atom names for some groups"
I found a case where the atom names in the `atomNameList` of the `groupList` is not consistent with the atom naming in the respective *mmCIF* file.

PDB ID: `1igy`
URL: `https://mmtf.rcsb.org/v1.0/full/1igy`
group: `NDG`
atom name: `O` (mmtf) or `O5` (cif)

Excerpt from `1igy.cif`:

[code]

Excerpt from `NDG`entry in `1igy.mmtf` `groupList`:

[code]

[2021-04-01 07:02] speleo3 commented on #47
This might affect all entries from the Carbohydrate Remediation:
https://www.wwpdb.org/documentation/carbohydrate-remediation

[2021-04-07 23:11] josemduarte commented on #47
Indeed, this is due to the carbohydrate remediation. The MMTF files have not been updated since the remediation yet.

We will try to do it over the next weeks. However, please notice that MMTF will not support any carbohydrate features and will treat carbohydrate entities as non-polymeric.

Please consider looking at the [Binary CIF](https://github.com/molstar/BinaryCIF) format which is up to date

[2021-04-14 16:53] josemduarte commented on #47
@padix-key new mmtf files are available now. The problem should be gone. Let us know if you see any issues.

[2021-04-14 16:56] josemduarte commented on #44
All files have been regenerated now. The issue should be gone from all files now.

[2021-04-15 10:38] padix-key opened #48 "'RCSB restricted area' for some PDB IDs"
For some PDB IDs, the access to the MMTF files is restricted: The server shows a 'RCSB restricted area' message and asks for username and password.

Examples:

`https://mmtf.rcsb.org/v1.0/full/1o1z`
`https://mmtf.rcsb.org/v1.0/full/4gxy
`

For `https://mmtf.rcsb.org/v1.0/full/1aki` and most other PDB IDs, the download works as expected.

**Update:**

This behavior seems inconsistent: At some attem

[2021-04-15 10:40] padix-key commented on #47
For `1igy` it works as expected now. Thank you.

[2021-04-15 10:40] #47 closed, assigned to nobody

[2021-04-15 11:43] samirelanduk commented on #48
I think this is related to a CORS error I am having when loading MMTF files from a web page. An hour or so ago the request was blocked by CORS, when @padix-key reported their error was fixed my web page was requesting correctly again, and now that @padix-key changed the outcome to 'inconsistent' the CORS error is back.

7M3K fails for example: [https://zincbind.net/pdbs/7M3K/](https://zincbind.net

[2021-04-15 22:30] josemduarte commented on #48
The problem should be solved now. Let us know if you see any other issues.

[2021-04-15 22:30] #48 closed, assigned to nobody

[2022-06-26 01:21] #38 closed, assigned to nobody